<!DOCTYPE html>
<html class="x-admin-sm">

<head>
  <meta charset="utf-8">
  <title>Programs</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport"
    content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />

  <link rel="stylesheet" href="css/font.css">
  <link rel="stylesheet" href="css/index.css">

  <script src="layui/layui.js" charset="utf-8"></script>
  <script type="text/javascript" src="js/index.js"></script>

  <style>
    .dh6input {
      width: 100px;
      height: 28px;
      border-radius: 3px;
      border: 1px solid #bbbbbb;
      padding-left: 3px
    }
	.tou th {text-align:center}
	#tbody td {text-align:center; padding:7px 4px 7px 4px}
  </style>
</head>

<body style="background-color:white">
    <div class="layui-card" style='width:100%; text-align:center;font-size:28px; margin-top:200px'>
	Welcome to use WIS Management System
    </div>
</body>
<script>
  layui.use(['laydate', 'form'], function () {
    var laydate = layui.laydate;
    var form = layui.form;

    
    laydate.render({
      elem: '#start' 
    });

    
    laydate.render({
      elem: '#end' 
    });
  });

</script>

<script>
function del()
{
	var ids = ""; 
	$("input[name='chk']:checked").each(function() { 
		ids += "," + $(this).val(); 
	});
	if (ids=="")
	{
		alert("Please select the item to delete.");
	}
	else
	{
		ids = ids.substring(1);
		if (confirm("Are you sure to delete these items?"))
		{
			$.ajax({
				type: "POST",
				async: false,
				url: "ajax/programDelete.php",
				dataType: "json",
				contentType: "application/x-www-form-urlencoded; charset=utf-8",
				data: {
					ids: ids
				},
				success: function (response)
				{
					if (response.result)
					{
						location.reload();
					}
					else
					{
						alert(response.message);
					}
				},
				error: function (XMLHttpRequest, textStatus, thrownError)
				{
					alert(thrownError);
					return false;
				}
			});
		}
	}
	
}
</script>
</html>